.fretboard {
  padding: 0 1rem 1rem;
  overflow-x: scroll;
}

.fret-number {
  font-weight: bold;
  text-align: center;
}

.fret {
  text-align: center;
  padding: 0;
  height: 44px;
  width: 64px;
  min-width: 64px;
}

.string {

}

table {
  border-collapse: collapse;
  /*table-layout: fixed;*/
}

thead tr th {
  border: none;
}

thead tr {
  text-align: center;
}

tbody tr td{
  background-color: #BA8C63;
  color: antiquewhite;
}

th, td {
  width: 44px;
  height: 24px;
  padding: 6px 1rem;
  border: 1px solid black
}

td:first-child {
  border-right: 5px solid black;
}

.highlighted {
  color: #98fb98;
}

td:first-child  {

}

td:nth-child(first) {
  border: none;
}

tr th:first-child {
  border: none;
}
