<mat-toolbar>
  <span>Notable</span>
</mat-toolbar>

<div class="body">
  <form [formGroup]="form" style="padding: 1rem 8px 8px;">
    <mat-form-field appearance="fill" style="margin-right: 1rem; width: 85px;">
      <mat-label>Key</mat-label>
      <mat-select formControlName="key">
        <mat-option [value]="'NA'"> None </mat-option>
        <mat-option [value]="pitchClass" *ngFor="let pitchClass of allPitchClasses"> {{ pitchClass }}</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="form.get('key')?.value !== 'NA'">
      <mat-form-field appearance="fill" style="width: 150px;">
        <mat-label>Mode</mat-label>
        <mat-select formControlName="mode">
          <mat-option [value]="mode" *ngFor="let mode of allModes"> {{ mode }}</mat-option>
        </mat-select>
      </mat-form-field>

      <app-scale-degrees-selector [key]="this.form.get('key')?.value ?? 'C'"
                                  [mode]="this.form.get('mode')?.value ?? 'Ionian'"
                                  (selectionsChanged)="scaleDegreeSelectionsChanged($event)">
      </app-scale-degrees-selector>
    </ng-container>
  </form>
</div>


<div *ngFor="let instrument of instruments; let i=index">
  <app-instrument  [instrument]="instrument"
                   [key]="this.form.get('key')?.value ?? 'C'"
                   [mode]="this.form.get('mode')?.value ?? 'Ionian'"
                   [scaleDegrees]="scaleDegrees"
  ></app-instrument>
</div>





